<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Sports IPT</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <partial name="_CookieConsentPartial" />

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand fw-bold text-primary" asp-area="" asp-page="/Index">E-Sports IPT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fw-semibold" asp-area="" asp-page="/Teams/Index">Equipas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fw-semibold" asp-area="" asp-page="/Tournaments/Index">Torneios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fw-semibold" asp-area="" asp-page="/Matches/Index">Jogos</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted py-3">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <span>&copy; 2026 - Plataforma E-Sports IPT</span>
            <div class="mt-2 mt-md-0">
                <a asp-area="" asp-page="/Privacy" class="text-muted text-decoration-none mx-2 hover-primary">Privacidade</a>
                <a asp-area="" asp-page="/Cookies" class="text-muted text-decoration-none mx-2 hover-primary">Cookies</a>
                <a asp-area="" asp-page="/Sobre" class="text-muted text-decoration-none mx-2 hover-primary">Sobre o Projeto</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>